.grid {
    display: grid;
    grid-gap: 5px;
    // grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, 120px);
    // grid-template-rows: repeat(auto, 180px);

    // grid-template-rows: 180px;
    grid-auto-rows: 120px;
    margin: 5% auto;
    position: relative;
}
.grid-item {
    position: relative;
    // Hover Scale
}
.grid-item-w {
    grid-column: span 2;
}
.grid-item-h {
    grid-row: span 2;
}
@media (max-width: 359px) {
    .grid {
        width: 245px;
    }
}
@media (min-width: 360px) {
    .grid {
        width: 245px;
    }
}
@media (min-width: 370px) {
    .grid {
        width: 370px;
    }
}
@media (min-width: 500px) {
    .grid {
        width: 495px;
    }
}
@media (min-width: 625px) {
    .grid {
        width: 620px;
    }
}
@media (min-width: 750px) {
    .grid {
        width: 745px;
    }
}
@media (min-width: 875px) {
    .grid {
        width: 870px;
    }
}
@media (min-width: 1000px) {
    .grid {
        width: 995px;
    }
}