@font-face {
    font-family: "Montserrat";
    src: url("/webfonts/Montserrat-Regular.ttf");;
}

body {
    background-color: #000000;
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}